@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-item:hover .submenu {
  visibility: visible;
  overflow: visible;
  opacity: 1;
}

.submenu {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}

.menu-item:hover .menu-link {
  color: #173097;
}

.menu-item:last-child .submenu {
  left: -200px;
}

.banner-main .swiper-wrapper {
  display: flex;
}